# Database Connection
# A connection string to your PostgreSQL database (e.g. Neon Serverless)
DATABASE_URL="postgresql://user:password@host.region.aws.neon.tech/dbname?sslmode=require"

# Authentication
# Run `npx auth secret` or `openssl rand -base64 32` to generate a secure secret
AUTH_SECRET="your-generated-auth-secret-here"
